body {

    background: rgb(12, 2, 89);
    

}


.site  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.site  a{
    color: rgb(255, 196, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}


.container h1  {

    text-align: center;
    margin-top: 5%;
    color: rgb(231, 200, 20);
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 3px 3px rgb(205, 15, 15);
    
}

.admini {
    background: #fff;
    border-radius: 10px;
    padding: 50px;
}